<!-- start navbar -->
<nav class="navbar navbar-expand-lg fixed-top" id="navbar" (window:scroll)="windowScroll()">
    <div class="container">
        <a routerLink="/layout-two-1" class="navbar-brand me-5">
            <img src="assets/layout/images/logo-light.png" class="logo-light" alt="" height="22" />
            <img src="assets/layout/images/logo-dark.png" class="logo-dark" alt="" height="22" />
        </a>
        <button (click)="toggleMenu()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggle-icon">
                <i-feather name="menu"></i-feather>
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active':currentSection === 'home'}" [ngxScrollTo]="'#home'"
                        href="javascript: void(0);">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active':currentSection === 'services'}" [ngxScrollToOffset]="20" [ngxScrollTo]="'#services'"
                        href="javascript: void(0);">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active':currentSection === 'feature'}" [ngxScrollToOffset]="10" [ngxScrollTo]="'#feature'"
                        href="javascript: void(0);">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active':currentSection === 'review'}" [ngxScrollToOffset]="5" [ngxScrollTo]="'#review'"
                        href="javascript: void(0);">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active':currentSection === 'portfolio'}" [ngxScrollToOffset]="10"
                        [ngxScrollTo]="'#portfolio'" href="javascript: void(0);">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active':currentSection === 'pricing'}" [ngxScrollTo]="'#pricing'" [ngxScrollToOffset]="5"
                        href="javascript: void(0);">Pricing</a>
                </li>
            </ul>
            <a href="javascript:void(0);" class="btn btn-sm nav-btn text-primary mb-4 mb-lg-0 ms-auto" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="openModal(content)">Contact Us</a>
        </div>
    </div>
    <!-- end container -->
</nav>
<!-- end navbar -->
<!-- Modal -->
<ng-template #content let-modal>
    <div class="contact_form">
        <div class="modal-header home-modal">
            <h5 class="modal-title" id="exampleModalLabel">Get In Touch</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body">
            <form method="post" name="myForm" onsubmit="return validateForm()">
                <span id="error-msg"></span>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="fw-medium form-label" for="name">Name</label>
                                <input type="text" class="form-control" placeholder="Your name" id="name" required />
                            </div>
                            <!-- end col -->
                            <div class="col-md-6 mb-3">
                                <label class="fw-medium form-label" for="email">Email</label>
                                <input type="email" class="form-control" placeholder="Your email" id="email" />
                            </div>
                            <!-- end col -->
                            <div class="col-md-6 mb-3">
                                <label class="fw-medium form-label" for="subject">Subject</label>
                                <input type="text" class="form-control" placeholder="your subject" id="subject" />
                            </div>
                            <!-- end col -->
                            <div class="col-md-6 mb-3">
                                <label class="fw-medium form-label" for="number">Contact</label>
                                <input type="text" class="form-control" placeholder="+00 1234 5678 90" id="number" />
                            </div>
                            <!-- end col -->
                            <div class="col-12 mb-3">
                                <label class="fw-medium form-label" for="comments">Message</label>
                                <textarea class="form-control" id="comments" placeholder="Enter your message..."
                                    rows="5"></textarea>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                                <input type="submit" id="submit" name="send" class="btn btn-primary mt-2"
                                    value="Send Information" />
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </form>
        </div>
    </div>
</ng-template>

<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <!-- start hero -->
    <section class="hero-two-1 bg-dark position-relative overflow-hidden align-items-center" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-4">
                    <div>
                        <h1 class="text-white display-5 fw-medium">
                            <span class="fw-light">{{heading}}</span><br />
                            {{sub_heading}}
                        </h1>
                        <p class="align-middle fw-normal text-muted fs-20 my-4">{{contents}}</p>
                        <form class="row">
                            <div class="col-12">
                                <input type="email" class="form-control" placeholder="Your Email..." required />
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary mt-4" type="submit">Submit <span
                                        class="fs-22 ms-1 lh-1 align-middle icon">⇾</span></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-8">
                    <img class="img-fluid" src="assets/layout/images/hero-two-1-img.png" alt="" />
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end hero -->
    <app-services2></app-services2>
    <app-features2></app-features2>
    <app-client2></app-client2>
    <app-faq></app-faq>
    <app-pricing2></app-pricing2>
    <app-footer></app-footer>
</div>