<!-- start faq -->
<section class="section" id="portfolio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mt-4 pt-2">
                <div class="faq-img position-relative">
                    <img class="img-fluid rounded" src="assets/layout/images/faq-two-img.jpg" alt="" />
                    <span class="faq-ask text-uppercase rounded text-white bg-primary fs-16 fw-medium px-4 py-3">Ask us
                        anything</span>
                </div>
            </div>
            <!-- end col -->

            <div class="col-lg-6 offset-lg-1 mt-4 pt-2">
                <div class="mb-4 pb-2">
                    <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">{{heading}}</h2>
                    <p class="text-muted">{{content}}</p>
                </div>
                <div class="accordion" id="accordionExample">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" [closeOthers]=true>
                        <div class="card rounded mb-3"></div>
                        <ngb-panel *ngFor="let value of faqList" title="{{value.que}}" id="{{value.link}}">
                            <ng-template ngbPanelContent>
                                {{value.ans}}
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end faq -->